doctype html
html(lang="ru")
  include ../partials/head
  body
    .wrapper 
      include ../partials/header
      main.page 
        .image
          img(src="images/me.jpg" alt="Me Image")
        p.text Привет, как дела!
      include ../partials/footer